<template>
  <span>
   <!--<navbar></navbar>-->
    <banner></banner>
    <members></members>
   <!-- <lista></lista> 
    <nosotros></nosotros>
    <caracteristicas></caracteristicas>
    <parallax></parallax>
    <fotos></fotos>
    <opiniones></opiniones>
    <maps></maps>
    <my-footer></my-footer>-->
  </span>
</template>

<script>
/*import MyFooter from '@/components/Home/MyFooter';
import Navbar from '@/components/Home/Navbar';*/
import Banner from "@/components/Sections/Banner.vue";
import Members from "@/components/Sections/Members.vue";
/*import Nosotros from "@/components/Home/Nosotros";
import Caracteristicas from "@/components/Home/Caracteristicas";
import Parallax from "@/components/Home/Parallax";
import Fotos from "@/components/Home/Fotos";
import Opiniones from "@/components/Home/Opiniones";
import Maps from "@/components/Home/Maps";*/

export default {
  name: "home",
  components: {
    Banner,
    Members,
    /*Lista,
    Nosotros,
    Caracteristicas,
    Parallax,
    Fotos,
    Opiniones,
    Maps,
    MyFooter,
    Navbar*/
  }
};
</script>

<style scoped> 
    .active{
        background-color: #fff !important;
    }
</style>