<template>
    <span >
        <div class="Banner">
            <center class="title"><h1>MOBIUS PERVERTION PAGE</h1></center>
        </div>
    </span>
</template>

<script>

export default {
    name: "Banner",
    data () {
      return {
      }
    }
};
</script>

<style scope>
   .Banner{
       height: 100vh;
       width: 100%;
       background-image: url("../../../public/img/banner.png");
   }
   .title{
       padding-top: 50vh;
   }
</style>