<template>
    <span >
        <div>
            <center><h1>MOBIUS PERVERTION LISTA</h1></center>
        </div>
        <div class="contenido">
            
            
        </div>      
    </span>
    
</template>

<script>
import { db } from '@/firebase.js'

export default {
    name: "Lista",
    data () {
      return {       
    }
  },
  methods : {
    
  }
  
};
</script>

<style>
   .contenido{
       width:80%;
       margin: auto;
   }
</style>