<template>
    <span >
        <div>
            <center><h1>MOBIUS PERVERTION MEMBERS</h1></center>
        </div>
        <div class="contenido members-section">
            <center><h3>Lideres</h3></center>
            <ul>
                <center>
                    <li style="cursor:pointer; display:inline-block; width:calc( 100% / 3 )" v-for="(member, key) in lideres" :key="key" @click="seeDetails(key)">
                        {{member.nombre}}
                    </li>
                </center>
            </ul> 
            <center><h3>Capitanes</h3></center>
            <ul>
                <center>
                    <li style="cursor:pointer; display:inline-block; width:calc( 100% / 3 )" v-for="(member, key) in capitanes" :key="key" @click="seeDetails(key)">
                        {{member.nombre}}
                    </li>
                </center>
            </ul>
            <center><h3>Royals</h3></center>
            <center>
                <div @click="loadRoyalMembers(key)" v-for="(royal, key) in royals" :key="key" class="buttonRoyal">
                    <center>{{royal.nombre}}</center>
                </div>
            </center>
            <div class="royals-display">
                <center>
                    <li style="cursor:pointer; display:inline-block; width:calc( 100% / 3 )" v-for="(chars, key) in personajesRoyal" :key="key" @click="seeDetails(key)">
                        <span v-if="chars.rango == 2" style="font-weight:bold; color:red">{{chars.nombre}} (CAPITAN)</span>
                        <span v-else>{{chars.nombre}}</span>
                    </li>
                </center>
            </div>
        </div>        
        <modal name="hello-world">
            <ul v-if="this.personajes != null">
                <center>
                    <li v-for="(character, key) in personajes" :key="key">
                        {{character.nombre}} - {{character.profesion}} - {{character.raza}}
                    </li>
                </center>
            </ul>
            <h3 v-else><center>Esta persona no tiene personajes registrados</center></h3>
        </modal>
        
    </span>
    
</template>

<script>
import { db } from '@/firebase.js'

export default {
    name: "Members",
    data () {
      return {
        /*miembros */
        lideres: [],
        capitanes: [],
        esbirros: [],
        /*miembros */

        /*personajes */
        personajes: [],
        /*personales */

        /*royals */
        royals: [],
        personajesRoyal: [],
        /*royals */
        promosRef: db.child("members")
    }
  },
  methods : {
    async getMembers() {
        try {
          /*cargo lideres */
            this.lideres = (
                await db
                .child("members")
                .orderByChild("rango")
                .equalTo("1")
                .once("value")
            ).val()

          /*cargo capitanes */
            this.capitanes = (
                await db
                .child("members")
                .orderByChild('rango')
                .equalTo("2")
                .once("value")
            ).val()

          /*cargo esbirros */
            this.esbirros = (
                await db
                .child("members")
                .orderByChild('rango')
                .equalTo("3")
                .once("value")
            ).val()
           
        } catch (ex) {
            return console.error(ex)
        } 
    },
    async loadRoyalMembers(royal) {
        try {
          /*cargo lideres */
            this.personajesRoyal = []
            this.personajesRoyal = (
                await db
                .child("members")
                .orderByChild('royal')
                .equalTo(royal)
                .once("value")
            ).val()
           console.log(this.personajesRoyal)
        } catch (ex) {
            return console.error(ex)
        } 
    },    
    async getRoyals() {
        try {
          /*cargo lideres */
            this.royals = (
                await db
                .child("royals")                
                .once("value")
            ).val()
           
        } catch (ex) {
            return console.error(ex)
        } 
    },    
    async seeDetails (member){
        try{

            this.personajes = (
                await db
                .child("characters")
                .orderByChild('miembro')
                .equalTo(member)
                .once("value")
            ).val()           

            //console.log(this.personajes)
            this.show();

        } catch (ex) {
            return console.error(ex)
        } 
    },
    show () {
        this.$modal.show('hello-world');
    },
    hide () {
        this.$modal.hide('hello-world');
    }
  },
  async created () {
      await this.getMembers();
      await this.getRoyals();
  }
};
</script>

<style>
   .contenido{
       width:80%;
       margin: auto;
   }
   .members-section{
       min-height: calc( 100vh - 38px );
   }
   .buttonRoyal{
       padding: 5px;
       border: 1px solid black;
       border-radius: 5px;
       width: calc( 100% / 7);
       display: inline-block;
       cursor: pointer;       
   }
   .royals-display{
       width: 80%;
       margin: auto;
       padding-top: 15px;
   }
</style>